{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ block.super }} - Register an Account {% endblock title %}

{% block unauthenticated %}

<div class="container">
    {% include 'base_messages.html' %}
    <div class="mx-auto mt-1">
        {% if form.errors and not form.non_field_errors %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>
                    <strong>
                        {% if form.errors.items|length == 1 %}Please correct the error below. {% else %} Please correct the errors below. {% endif %}
                    </strong>
                </div>
            </div>
        </div>
        {% endif %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i> <strong>{{ error }}</strong>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <form action="{{ app_path }}" method="post" id="register-form">{% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="{% url 'login' %}">Login Page</a>
                <a class="d-block small" href="">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>

{% endblock unauthenticated %}