{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}{{ block.super }} - Password Reset{% endblock title %}

{% block unauthenticated %}


<div class="container login-container">
    <div class="card card-login card-pass mx-auto mt-5">
            <div class="row">
                <div class="col-12">
                    <header>
                        <span>Password</span>Manager
                    </header>
                </div>
            </div>
        <div class="card-header">Reset password done</div>
        <div class="card-body">
          <p>
              Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
          </p>
        </div>
    </div>
</div>

{% endblock %}