{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}{{ block.super }} - Password Reset {% endblock title %}

{% block unauthenticated %}

  <div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Password Reset</div>
        <div class="card-body">
            <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary btn-block"><span>Submit</span></button>
            </form>
        </div>
    </div>
  </div>

{% endblock unauthenticated %}
