{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}{{ block.super }} - Password Reset{% endblock title %}

{% block unauthenticated %}

  {% if validlink %}

<div class="container login-container">
    <div class="card card-login card-pass mx-auto mt-5">
            <div class="row">
                <div class="col-12">
                    <header>
                        <span>Password</span>Manager
                    </header>
                </div>
            </div>
        <div class="card-header">Changer password</div>
        <div class="card-body">
          <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary btn-block">Change password</button>
          </form>
        </div>
    </div>
</div>

  {% else %}


<div class="container login-container">
    <div class="card card-login card-pass mx-auto mt-5">
            <div class="row">
                <div class="col-12">
                    <header>
                        <span>Password</span>Manager
                    </header>
                </div>
            </div>
        <div class="card-header">Change password</div>
        <div class="card-body">
          <p>
              The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
          </p>
        </div>
    </div>
</div>


  {% endif %}




{% endblock %}