{% extends "base.html" %}
{% block authenticated %}
    {% block content %}
        {% block content-wrapper %}
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-info-circle"></i> {% block detail-header %} Link generate password{% endblock detail-header %}
                </div>
                <div class="card-body">
                    <div class="col-sm-12 col-xl-8">
                    {% block detail-content %}
                        <div class="form-group row">
                            <div class="col-sm-3">Password</div>
                            <div class="col-sm-9 d-print-none">{{ decrypt_password }}</div>
                        </div>
                    {% endblock detail-content %}
                    </div>
                </div>
            </div>
        {% endblock content-wrapper %}
    {% endblock content%}
{% endblock %}

