{% extends "dashboard_form.html" %}
{% load bootstrap4 %}

{% block form-header %}Update password site record{% endblock form-header %}
{% block form-content %}
<form action="{{ app_path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
   <div class="float-right">
        <a href="{% url 'entry:list' %}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% endblock form-content %}